.multifactor-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;

    .box-container {
        display: flex;
        align-items: center;
        /* height: 100vh; */
        background-color: #262626;
        color: #ffffff;
        justify-content: center;
        max-width: 500px;
        width: calc(100% - 40px);
        margin-bottom: 28px;
        // min-width: 320px;

        overflow: hidden;

        .cds--form {
            width: 100%;
            padding: 20px 0px 0px 20px;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .checkbox-item {
                margin: 40px 0px 0px;
                margin: 40px 0px 0px;
                display: flex;
                align-items: center;
                gap: 12px;
            }
        }

        .login-input-wrapper {
            width: 100%;
            margin-top: 24px;


            label {
                width: 100%;

                display: flex;
                justify-content: space-between;
                margin-top: 32px;
                margin-top: 32px;
                margin-bottom: 16px;
                color: #ffffff;
            }

            input {
                width: 100%;
                height: 48px;
                // margin-top: 24px;
                padding: 12px;
            }
        }
    }

    .fields-container {
        width: 100%;

        width: 100%;

        display: flex;
        justify-content: flex-end;

        button {
            border-width: 1px;
            border-style: solid;
            border-color: rgba(0, 0, 0, 0);
            background-color: #0f62fe;
            color: #ffffff;
            width: 250px;
            height: 64px;
            cursor: pointer;
        }
    }
}

@media screen and (max-width:300px) {
    .multifactor-container {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000;

        .box-container {
            h1 {
                font-size: 32px;
            }
        }
    }
}