$primary: #8cc63e;
$secondary:silver;
$checkmarkColor: white;
$size: 24px;
$checkmarkFat: 2px;

body {
  padding: 20px;
}

.circle {
  position: relative;
  background: $primary;
  border-radius: 50%;
  width: $size;
  height: $size;
}

.checkmark {
  position: absolute;
  transform: rotate(45deg) translate(-50%, -50%);
  left: 35%;
  top: 45%;
  height: $size/3;
  width: $size/6;
  border-bottom: $checkmarkFat solid $checkmarkColor;
  border-right: $checkmarkFat solid $checkmarkColor;
}
.circle-inactive {
    position: relative;
    background: $secondary;
    border-radius: 50%;
    width: $size;
    height: $size;
  }
  
  .checkmark-inactive {
    position: absolute;
    transform: rotate(45deg) translate(-50%, -50%);
    left: 35%;
    top: 45%;
    height: $size/3;
    width: $size/6;
    border-bottom: $checkmarkFat solid $checkmarkColor;
    border-right: $checkmarkFat solid $checkmarkColor;
  }
.popup{
    -webkit-animation: fadeIn 1s;
   animation: fadeIn 1s;
  z-index: 1;
  position: absolute;
  margin-top: 12px;
  background-color: rgb(255, 255, 255);
  width: 200px;
  right: 10px;
}
.list{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 8px;
}
