$primary: #8cc63e;
$secondary: silver;
$checkmarkColor: white;
$size: 18px;
$checkmarkFat: 2px;
.forgotpasword-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;

    .box-container {
        display: flex;
        align-items: center;
        /* height: 100vh; */
        background-color: #262626;
        color: #ffffff;
        justify-content: center;
        max-width: 500px;
        width: calc(100% - 40px);
        margin-bottom: 28px;
        // min-width: 320px;

        // overflow: hidden;

        .cds--form {
            width: 100%;
            padding: 20px 0px 0px 20px;
            height: 432px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .checkbox-item {
                margin: 40px 0px 0px;
                margin: 40px 0px 0px;
                display: flex;
                align-items: center;
                gap: 12px;
            }
        }

        .login-input-wrapper {
            width: 100%;
            margin-top: 24px;


            label {
                width: 100%;

                display: flex;
                justify-content: space-between;
                margin-top: 8px;
                margin-bottom: 16px;
                color: #ffffff;
            }

            input {
                width: 100%;
                height: 48px;
                // margin-top: 24px;
                padding: 12px;
            }
        }
    }

    .box-container-second {
        display: flex;
        align-items: center;
        /* height: 100vh; */
        background-color: #262626;
        color: #ffffff;
        justify-content: center;
        max-width: 500px;
        width: calc(100% - 40px);
        margin-bottom: 28px;
        // min-width: 320px;

        overflow: hidden;

        .cds--form {
            width: 100%;
            padding: 20px 0px 0px 20px;
            height: 432px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .checkbox-item {
                margin: 40px 0px 0px;
                margin: 40px 0px 0px;
                display: flex;
                align-items: center;
                gap: 12px;
            }
        }

        .login-input-wrapper {
            width: 100%;
            margin-top: 24px;


            label {
                width: 100%;

                display: flex;
                justify-content: space-between;
                margin-top: 8px;
                margin-bottom: 16px;
                color: #ffffff;
            }

            input {
                width: 100%;
                height: 48px;
                // margin-top: 24px;
                padding: 12px;
            }
        }
    }

    .fields-container {
        width: 100%;

        width: 100%;

        display: flex;
        justify-content: flex-end;

        button {
            border-width: 1px;
            border-style: solid;
            border-color: rgba(0, 0, 0, 0);
            background-color: #0f62fe;
            color: #ffffff;
            width: 250px;
            height: 64px;
            cursor: pointer;
        }
    }
}

.forgot-password-loader-signin {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    width: 250px;
    height: 64px;
}

.popup-new {

    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    z-index: 1;
    position: absolute;
    margin-top: 8px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    right: 10px;
    color: #000;
    left: 0;

    .list {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0px 8px;
        color: #000;
    }

    .circle {
        position: relative;
        background: $primary;
        border-radius: 50%;
        width: $size;
        height: $size;
    }

    .checkmark {
        position: absolute;
        transform: rotate(45deg) translate(-50%, -50%);
        left: 35%;
        top: 45%;
        height: $size/3;
        width: $size/6;
        border-bottom: $checkmarkFat solid $checkmarkColor;
        border-right: $checkmarkFat solid $checkmarkColor;
    }

    .circle-inactive {
        position: relative;
        background: $secondary;
        border-radius: 50%;
        width: $size;
        height: $size;
    }

    .checkmark-inactive {
        position: absolute;
        transform: rotate(45deg) translate(-50%, -50%);
        left: 35%;
        top: 45%;
        height: $size/3;
        width: $size/6;
        border-bottom: $checkmarkFat solid $checkmarkColor;
        border-right: $checkmarkFat solid $checkmarkColor;
    }

}

@media screen and (max-width:600px) {
    .forgotpasword-container {
        .box-container {
            .cds--form {
                height: 432px;
            }
        }

        .box-container-second {
            .cds--form {
                height: calc(100vh - 80px);
            }
        }
    }
}