@import './../../carbon';

// .bx--side-nav__item--active .bx--side-nav__submenu[aria-expanded=false]:hover {
//     position: relative;
//     background-color: var(--cds-navbar-ui, rgba(141, 141, 141, 0.2)) !important;
//     // color: var(--cds-text-primary, #161616) !important;
// }

// .bx--side-nav__menu a.bx--side-nav__link--current, .bx--side-nav__menu a.bx--side-nav__link[aria-current=page], a.bx--side-nav__link--current {
//     // background-color: #e0e0e0;
//     background-color: var(--cds-navbar-ui, rgba(141, 141, 141, 0.2)) !important;
// }
// a.bx--side-nav__link[aria-current=page], a.bx--side-nav__link--current{
//     background-color: var(--cds-navbar-ui, rgba(141, 141, 141, 0.2)) !important;
//     span{
//       color: var(--cds-navbar-ui, #161616) !important;
//     }
//   }

//   .bx--side-nav__submenu:hover {
//     background-color: var(--cds-background-selected, rgba(141, 141, 141, 0.2)) !important;
//     color: var(--cds-text-primary, #161616) !important;
// }
// a.bx--side-nav__link:hover{
//     background-color: var(--cds-background-selected, rgba(141, 141, 141, 0.2)) !important;
//     color: var(--cds-text-primary) !important;
// }
// .bx--side-nav__link{
//     button{
//         color: var(--cds-ui-navbar) !important;
//         border:1px solid red;
//     }
//     background-color: var(--cds-background-selected, rgba(141, 141, 141, 0.2)) !important;


// }
// .bx--side-nav--ux .bx--side-nav__item {
//     width: auto;
//     height: auto;
//     background-color: var(--cds-navbar-ui, rgba(141, 141, 141, 0.2)) !important;
// }
.side-nav {
  .side-nav-link {
    color: var(--cds-text-02, #525252);

    .bx--side-nav__icon>svg {
      width: 1rem;
      height: 1rem;
      /* fill: #525252; */
      fill: var(--cds-icon-02, #525252) !important;
    }

    // a:hover{
    //   background-color: aqua !important;
    // }
    // .bx--side-nav__link:hover{
    //  background-color: red;
    // }
    .bx--side-nav__link-text {
      color: var(--cds-icon-02, #525252) !important;
    }

    .bx--side-nav__link:hover {
      background-color: yellow;
      color: #161616;
    }

    // .bx--side-nav__link side-nav-link:focus {
    //   background-color: var(--cds-hover-ui, #e5e5e5);
    // }

    a:hover {
      background: var(--cds-navbar-ui, #e5e5e5) !important;
      color: var(--cds-icon-02, #525252) !important;
    }

    // .side-nav .side-nav-link:hover {
    //   color: var(--cds-text-02, #525252)!important;
    //   background: var(--cds-hover-ui, #e5e5e5) !important;
    // }

    // .bx--side-nav__submenu:hover{
    //  background: red; 
    // }
    // a:hover{
    //   background: red;
    // }
    // .bx--side-nav__link:hover{
    //  background-color: red;
    // }
    //  .bx--side-nav .bx--header__menu-title[aria-expanded=true]:hover{
    //  background-color: red;
    // }
    //   .bx--header__menu-title[aria-expanded=true]:hover {
    //     background-color: #e5e5e5;
    //     /* color: #161616; */
    //     background-color: var(--cds-hover-ui, #e5e5e5);
    //     color: var(--cds-text-01, #161616);
    // }
    
    
  }

  .side-nav-link:hover {
    background-color: var(--cds-hover-ui, #e5e5e5) !important;
    color: var(--cds-text-01, #161616) !important;
  }

  .side-nav-menu {
    color: var(--cds-text-02, #525252);

    svg {
      width: 1rem;
      height: 1rem;
      /* fill: #525252; */
      fill: var(--cds-icon-02, #525252) !important;
    }

    span {
      color: var(--cds-text-02, #525252) !important;
    }

    .bx--side-nav__submenu:hover {
      background-color: var(--cds-hover-ui, #e5e5e5) !important;
      color: var(--cds-text-01, #161616) !important;
    }

    .side-nav-menu-item {

      a.bx--side-nav__link[aria-current=page],
      a.bx--side-nav__link--current {

        font-weight: 600;
        background-color: var(--cds-ui-navbar, #f4f4f4) !important;
        color: var(--cds-text-02, #525252);
      }

      a.bx--side-nav__link[aria-current=page],
      a.bx--side-nav__link--current :hover {

        font-weight: 600;
        background-color: var(--cds-hover-ui, #e5e5e5) !important;
        color: var(--cds-text-01, #161616) !important;
      }

      .bx--side-nav__item--active .bx--side-nav__submenu[aria-expanded=false]::before {
        background-color: var(--cds-ui-navbar, #f4f4f4) !important;
      }

      a.bx--side-nav__link[aria-current=page]::before,
      a.bx--side-nav__link--current::before {
        background-color: var(--cds-ui-navbar, #f4f4f4) !important;
      }

      
    }
  }
}