.magiclink-popup-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;

    .box-container {
        display: flex;
        align-items: center;
        /* height: 100vh; */
        background-color: #262626;
        color: #ffffff;
        justify-content: center;
        max-width: 500px;
        width: calc(100% - 40px);
        margin-bottom: 28px;
        // min-width: 320px;
        height: 320px;
        
        overflow: hidden;
    }
}

.error-notification-box{
    display: flex;
    border-left: 3px solid var(--cds-support-error-inverse, #fa4d56);
    background: #ffffff;
    width: 100%;
    height: 48px;
    margin-top: 12px;
    color: #000;
  
    .cds--inline-notification__details{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: stretch;
      gap:12px;
    }
    button{
      background: transparent;
      border: 0;
      color: #000;
      cursor: pointer;
      svg{
        fill: #000;
      }
    }
    svg{
      fill: #fa4d56;
    }
  }
  
  .error-notification-box-inactive{
    width: 400px;
    height: 32px;
  }
  .loader-signin{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    width: 250px;
    height: 64px;
  }