@import './../../carbon';

.bynar-dashboard {
  height: 100vh;
  // background-color: var(--cds-field-01,#fff);
  
  background-color: $ui-background;
  padding-left: 3rem;
  padding-top: 3rem;
  overflow-x: auto;
  padding-bottom: 2rem;
  // background-color: #f4f4f4;
}

.bynar-heading{
  padding-left: 13.25rem!important;
    padding-right: 1.75rem!important;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.heading{
  font-size: 1.75rem;
    line-height: normal;
    color: black;
}
.button-dashboard {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0);
  background-color: var(--cds-interactive-01, #0f62fe);
  color: var(--cds-text-04, #ffffff);
  align-items: center;
  display: flex;
  max-height: 3.5rem;
  padding-top: var(--cds-spacing-05,1rem);
  position: relative;
  cursor: pointer;
  min-height: 2.5rem;
    padding: calc(0.675rem - 3px) 60px calc(0.675rem - 3px) 12px;
    width: fit-content;
    overflow-x: auto;
}
.container{
  padding-left: 13.25rem !important;
  padding-right: 1.75rem !important;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
  gap: 24px;
}
@media screen and (min-width: 320px){
.pal--page-header {
    padding-left: 0.75rem!important;
    padding-right: 1.75rem!important;
}
}

@media screen and (min-width: 0){
.pal--page-header {
    padding-left: 0!important;
    padding-right: 0!important;
}
}
@media screen and (min-width: 42rem){
  .pal--page-header {
    padding: var(--cds-spacing-05,1rem) var(--cds-spacing-07,2rem) var(--cds-spacing-07,2rem);
}
}

.pal--page-header {
    background-color: var(--cds-ui-background,#fff);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--cds-spacing-05,1rem) var(--cds-spacing-05,1rem) var(--cds-spacing-07,2rem);
    width: 100%;
}
  
@media screen and (max-width: 600px){
  .bynar-heading {
      padding-left: 0.75rem!important;
      padding-right: 1.75rem!important;
      display: flex;
      flex-direction: column;
  }
  .container{
    padding-left: 0.75rem!important;
    padding-right: 1.75rem!important;
    display: flex; 
    justify-content: flex-start;
    flex-direction: column;
  }
  
  }