
@use '@carbon/themes';
@use '@carbon/themes/scss/themes' as *;
// @use '@carbon/themes' with ($theme: $g100);
@import 'carbon';



:root {
  @include themes.theme($white);
  --cds-ui-background: #f4f4f4;
  --cds-ui-navbar:#fff;
}

.carbon-theme--white{
  --cds-ui-background: #f4f4f4;
  --cds-layer-accent:#8d8d8d;
  --cds-layer:#fff;
}
.carbon-theme--g90{
  --cds-ui-navbar: #161616;
  --cds-icon-02:#c6c6c6;
}

body {
  @include carbon--theme();
  background-color: $ui-background;
  // color: $text-01;

}
.bx--grid{
  color: black;
  
}

.app {
    display: flex;
    // app should have no horizontal scroll bar, this should be in content area
    overflow: hidden;
    max-width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: var(--cds-ui-background, #f4f4f4);
}

  .bx--side-nav__overlay-active  {
    opacity: 0 !important ; 
  }
  
  .bx--side-nav__items {
    padding: 0 !important;   
  }

  .bx--side-nav__navigation { 
    background-color: var(--cds-ui-navbar, #f4f4f4) !important;  
    border-right: 1px solid var(--cds-ui-03, #e0e0e0);
    width: 189px;
}

.bx--content {
  height: 100vh;
  background-color: var(--cds-ui-background, #f4f4f4);
}
.bx--side-nav__item--active .bx--side-nav__submenu[aria-expanded=false]::before {
  // background-color: var(--cds-ui-background, #f4f4f4) !important;
}
.bx--side-nav__item--active .bx--side-nav__submenu[aria-expanded=false] {
  position: relative;
  background-color: var(--cds-ui-navbar, #f4f4f4) !important;
  color: var(--cds-text-02, #525252);
}
.bx--header__action--active {
  border-right: 1px solid #393939;
  border-bottom: 1px solid #393939 !important;
  border-left: 1px solid #393939;
}

// .bx--side-nav__menu a.bx--side-nav__link--current, .bx--side-nav__menu a.bx--side-nav__link[aria-current=page], a.bx--side-nav__link--current {
//   background-color: var(--cds-ui-background, #f4f4f4) !important;
// }

// .bx--side-nav__submenu {
//   background-color: var(--cds-ui-background, #f4f4f4) !important;
// }

// a.bx--side-nav__link[aria-current=page]::before, a.bx--side-nav__link--current::before {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   width: 4px;
//   background-color: var(--cds-ui-navbar, #f4f4f4) !important;
//   content: "";
// }
//  .bx--side-nav--expanded {
//   width: 12rem;
// }


.main--content {
  display: flex;
  width: 100%;
  height: calc(100vh - 3rem);
  align-items: center;
  justify-content: center;
  margin-top: $spacing-09;
}
// .carbon-theme-dropdown {
//   height:60px;
//   border:1px solid red;
// }
.c4p--user-profile-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  text-transform: uppercase;
  background: #0072c3;
}

.bx--modal-content {
  height: 30vh;
}

.bynar-profile-settings-panel {
  top: 3.2em;
  right: -1rem;
  width: 16rem;
  position: absolute;
  background-color: black;
  color: var(--cds-text-primary);
  border-left: 1px solid var(--cds-border-subtle);
  border-bottom: 1px solid var(--cds-border-subtle);
  padding: 1rem 1.5rem 1rem 1rem;
} 

.bynar-profile-info-wrapper {
  display: flex;
  color: #f3f3f3;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-info-image {
  // background-color: var(--cds-layer);
  // border-radius: 50%;
  // // width: 7rem;
  // // height: 3.5rem;
  // text-align: center;
  
}
.bx--side-nav__submenu:focus {
  outline: 2px solid var(--cds-ui-navbar) !important;
  outline-offset: -2px;
  
}
button.bx--side-nav__submenu::before {
  background-color: var(--cds-ui-navbar, #f4f4f4) !important;
}
// li.bx--side-nav__item--active{
//   background: red !important;
// }
// li.bx--side-nav__item{
//   background: green !important;
// }

// .bx--side-nav__submenu:focus {
//   outline: 2px solid var(--cds-focus, #0f62fe);
//   outline-offset: -2px;
// }

.profile-info-image-icon {
  position: relative;
  top: 0.5rem;
}

.bynar-profile-settings-item {
  margin: 0.5rem 0rem;
}

.bx--modal-container {
  position: fixed;
  top: 0;
  display: grid;
  overflow: hidden;
  width: 71%;
  height: 70%;
  background-color: var(--cds-ui-background, #f4f4f4);
  top: 15%;
}

.react-tel-input .form-control {
  position: relative;
  font-size: 14px;
  letter-spacing: .01rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px;
  margin-left: 0;
  background: #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 5px;
  line-height: 25px;
  height: 35px;
  width: 300px;
  outline: none;
  height: 38px !important;
}

